extends ../layout

block content
  .wrapper: .checkout.container: .content
    header
      h1 Checkout Page try #[br] 
      p Make a test payment with Braintree using PayPal or a card

    form#payment-form(action="/checkouts", method="post")
      section
        .bt-drop-in-wrapper
          #bt-dropin

        label(for="amount")
          span.input-label Amount
          .input-wrapper.amount-wrapper
            input#amount(name="amount" type="tel" min="1" placeholder="Amount" value="10")

      button.button(type="submit")
        span Complete Transaction

  script(src="https://js.braintreegateway.com/v2/braintree.js")
  script.
    (function () {
    // checkout method references form#payment-form specified above and uses input//
      var checkout = new Demo({
        formID: 'payment-form'
      });

      var token = "#{clientToken}";
      braintree.setup(token, "dropin", {
        container: "bt-dropin"
      });
    })()
