extends ../layout

block content
  .wrapper: .checkout.container: .content
    header
    form#payment-form(action="/checkouts", method="post")
      h1 Choose Membership Plan
      section
        select(class="custom-dropdown" name="selectedPlan")
          option(value="one_month_membership_id") $99 One Month Trial Offer!
          option(value="four_month_membership_id") $219/month - Four Month Membership
          option(value="six_month_membership_id") $249/month - Six Month Membership
          option(value="annual_membership_id") $269/month - Annual Membership
      h1 Your Information
      section
        label(for="firstName")
          span.input-label Name
          .input-wrapper.name-wrapper
          input#firstName(name="firstName" type="text" placeholder="Your First Name" required data-required-msg='Display Name is required')
        label(for="lastName")
          span.input-label Name
          .input-wrapper.name-wrapper
          input#lastName(name="lastName" type="text" placeholder="Your Last Name")
        label(for="email")
          span.input-label Email
          .input-wrapper.name-wrapper
          input#email(name="email" type="email" placeholder="Your Email")
        label(for="phone")
          span.input-label Phone Number
          .input-wrapper.name-wrapper
          input#phone(name="phone" type="tel" min="10" placeholder="Your Phone Number")
      h1 Your CoderKid
      section
        label(for="childfirstname")
          span.input-label CoderKid First Name
          .input-wrapper.name-wrapper
          input#childfirstname(name="childfirstname" type="text" placeholder="CoderKid First Name")
        label(for="childlastname")
          span.input-label CoderKid Last Name
          .input-wrapper.name-wrapper
          input#childlastname(name="childlastname" type="text" placeholder="CoderKid Last Name")
        label(for="childage")
          span.input-label Age
          .input-wrapper.name-wrapper
          input#childage(name="childage" type="tel"  placeholder="Age")
      h1 Choose Initial Course
      section
        select(class="custom-dropdown" name="initialcourse")
          option(value="Introduction to Scratch") Introduction to Scratch
          option(value="Introduction to Minecraft Mod in Java") Introduction to Minecraft Mod in Java
          option(value="Introduction to Web Design") Introduction to Web Design
          option(value="Introduction to Swift Playgrounds") Introduction to Swift Playgrounds
      
      h1 Checkout 
      section
        .bt-drop-in-wrapper
          #bt-dropin
      
      <br />
      h5 By clicking Submit Payment below, you agree to the Coder Kids <a href="http://coder-kids.com/terms-of-service" target="_blank"> Terms of Service. </a>
      <br />
      button.button(type="submit")
        span Submit Payment
  
  script(src="https://js.braintreegateway.com/v2/braintree.js")
  script.
    (function () {
      var checkout = new Demo({
        formID: 'payment-form'
      });

      var token = "#{clientToken}";
      braintree.setup(token, "dropin", {
        container: "bt-dropin"
      });
    })()
